@import './template/variables.scss';
@import './template/transitions.scss';

@import './content/base.scss';
@import './content/hero.scss';
@import './content/about.scss';
@import './content/footer.scss';
@import './content/navbar.scss';
@import './content/popup.scss';
