html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: #C0BEAD;
}

body {
    position: relative;

    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000 !important;
    opacity: 1 !important;
}

* {
    opacity: 1 !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
